<style type='text/css'>
  body
  {color:#000000;
   /* background-image:url("brick.jpg");sky1.gif*/
    background-color: #686868 ;
font-size:16px;}
html{font-size:90%;} 
@media(min-width:60em){html{font-size: 100%}}


p{text-indent: 35px;
text-align:justify;
margin-top:-5px;
margin-bottom:-5px;
font-size:110%;}

p.1{margin-left:100px;}
ul{margin-top:0px}


img
{max-width: 100%;
    max-height: 100%;
}

li
{text-align:justify;}

 table 
   { width:90%; }
 th
   { height:50px;}
 th
   { background-color:#00F0F0;
    color:white;}




div.container
{
background-color: #FAFAFA  ; 
margin-left:5%;
margin-right:5%;
/*width:900px;*/}

div.head
{background-color: #FAFAFA;
height:120px;
}

div.contain
{
background-color: #F0F0F0; }

div.iitklogo
{float:left;
margin-left:5%;width:100px;height:100px;margin-top:0%; background-color:#EEEEEE; margin-top:10px;}


div.title
{float:left;
/*background:linear-gradient(to right,red,orange,yellow,yellow,yellow,orange,red)*/
margin-left:2%; height:90px; width:80%; margin-top:15px;
/*margin-top:20px;*/
color:#000000 ;
background-color:#EEEEEE;
}

div.menu
{float :left;
margin-left:1.7%;margin-top:20px;
/*height:530px;*/
width:16%;
background-color: #FFFFFF ;}

a{color:#000;
text-decoration:none;}

/*a.active{background-color: #00FF00;
    color: white;}*/


div.menu-item
{
text-align: center;
margin-top:5px;
text-color:#000;
/*background: linear-gradient(to bottom right,#F5B30E,gray);*/
background-color: #f4f4f1;
/*border-radius:20px*/
font-size:120%;

}
div.menu-item:hover {
background-color: #555;
    color: white;
}
div.menu-item.active {
    background-color: #4CAF50;
    color: white;
	font-size:120%;}

.Submit_Button
{background-color: #4CAF50;
width:75px;
margin-top:5px;}

.Submit_Button:hover
{background-color: #555;}

div.quote
{float :left;
margin-left:1.7%;margin-top:80px;
/*height:530px;*/
/*background-color: #f4f4f1 */;
width:100%;
background: linear-gradient(to bottom,#FFFFFF, #f4f4f1);
font-size:100%;}

div.quote_author
{
text-align: left;
margin-top:5px;
width:100%;
/*width:200px;*/
/*height:60px;*/
text-color:#000;
/*background: linear-gradient(to bottom right,#F5B30E,gray);*/
background-color: #D1D1D1;
/*border-radius:20px*/;

}



div.content
{
float:left;
margin-left:1%; margin-top:22px;
width:79.6%;
/*height:460px*/;
/*background:linear-gradient(to bottom,#F5F5F5,white)*/
background-color:#F5F5F5;

}

div.PageEntryTitle
{
float:left;
margin-left:1%; margin-top:0px;margin-bottom:5px;
width:98%;
background-color:#4CAF50;
}


div.PageEntry
{
float:left;
margin-left:1%; margin-top:5px; margin-bottom:5px;
width:98%;
/*height:460px*/;
/*background:linear-gradient(to bottom,#F5F5F5,white)*/
background-color#F5F5F5;
}

div.Schooling
{
float:left;
margin-left:5px; margin-top:5px;
width:935px;
/*height:460px*/;
background:linear-gradient(to bottom,#F5F5F5,white)
/*background-color:#AAAAFF;*/
}

div.courses
{float:left;
width:31.5%;
padding-left:.4%; padding-top:5px;
padding-right:.5%;}

div.courses2
{float:left;
width:34%;
padding-left:.4%; padding-top:5px;
padding-right:.5%;}



div.ResearchProjects
{
float:left;
margin-left:0px; margin-top:5px;
width:935px;
/*height:460px*/;
background:linear-gradient(to bottom,#F5F5F5,white)
/*background-color:#AAAAFF;*/
}

div.Project
{font-size:15;
float:left;
margin-left:0.5%; margin-top:5px;margin-bottom:5px;
width:99.5%;
padding-left:3px;padding-top:3px;
/*height:460px*/;
/*background:linear-gradient(to bottom,#F5F5F5,white)*/
background-color: #FAFAFA 
}

div.ProjectContent
{
float:left;
margin-left:0px; margin-top:5px;
padding-right:3px;
width:67%;

/*height:460px*/;
/*background:linear-gradient(to bottom,#F5F5F5,white)*/
/*background-color:#FF00FF;*/
}

div.ProjectContentNoImage
{
float:left;
margin-left:0px; margin-top:5px;
padding-right:3px;
width:98%;

/*height:460px*/;
/*background:linear-gradient(to bottom,#F5F5F5,white)*/
/*background-color:#FF00FF;*/
}

div.ProjectImage
{
float:left;
margin-left:1.5%; margin-top:5px;
width:30%;
/*height:460px*/;
/*background:linear-gradient(to bottom,#F5F5F5,white)*/
/*background-color:#AAAAFF;*/
}

div.ProjectImage img{outline:2px solid black;outline-offset:2px;}

div.ProjectImage:hover img{
    -webkit-transform:scale(1.4); /* Safari and Chrome */
    -moz-transform:scale(1.4); /* Firefox */
    -ms-transform:scale(1.4); /* IE 9 */
    -o-transform:scale(1.4); /* Opera */
     transform:scale(1.4);
}

div.TravelImage
{float:left;
margin-left:1%;margin-top:1%;
width:32%;}

div.TravelImage img{outline:2px solid black;outline-offset:2px;}

div.TravelImage:hover img{
    -webkit-transform:scale(1.9); /* Safari and Chrome */
    -moz-transform:scale(1.9); /* Firefox */
    -ms-transform:scale(1.9); /* IE 9 */
    -o-transform:scale(1.9); /* Opera */
     transform:scale(1.9);
}

div.TravelImage figcaption {
    border: 1px dotted blue;
    text-align: center;
text-font:4;
}

div.contact_l
{width:55%;float:left;margin-left:1%;margin-top:1%;/*background-image:url("worldmap0.jpg");*/
}
div.feedback
{width:40%; float:left; margin-top:1%;margin-left:2%;}
div.Social_Media
{margin-top:8px;
font-size:3px;
}

div.footer
{float:left;
width:99%;
margin-top:10px;
margin-left:0.5%; margin-right:0.5%;
vertical-align:bottom;
height:40px;
background-color:#E0E0E0;
border-radius:10px;
vertical-align: middle;
line-height: 40px;}

div.permnt
{margin-left:0px;margin-top:0px;width:350px;float:left;/*background-image:url("add1.jpg");*/}

div.local
{margin-left:20px;margin-top:0px;width:350px;float:left;/*background-image:url("add2.jpg");*/}

</style>
